
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { width: 100%; height: 100%; font-family: Helvetica, Verdana, Arial, sans-serif; }
body { }
p.header, p.footer { display: none; }
div.logo { width: 204px; height: 38px; float: left; background: url(logo.png) 0 0 no-repeat; position: relative; z-index: 10; }
div.title { height: 38px; line-height: 38px; padding: 0 10px; margin: 0 1px 0 0; float: right; color: #333; text-align: right; font-size: 18px; position: relative; z-index: 10; }
.full-width-wrapper { display: block; width: 100%;}
.template-wrap { display: block; margin-left: auto; margin-right: auto;}
.template-wrap canvas { display: block; }
.fullscreen { float: right; position: relative; z-index: 10; }

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }

.header {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.header hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.solidmecha-logo {
  font-size: 20pt;
}

.header-greeting {
  font-size: 16px;
  font-style: italic;
  padding-top: 20px;
}
.header .share-icons {
  font-size: 8pt;
}
.share-icons a:hover {
  text-decoration: none;
}

.header a {
  color: black;
  text-decoration: none;
  font-size: 150%;
  font-variant: small-caps;
}
.header a:hover {
  color: black;
}

.fancy-description {
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 14pt;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.title-navigation {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.title-navigation a {
  color: black;
}
.title-navigation a {
  text-decoration: none;
}
.title-navigation a:hover {
  color: black;
}

.title-navigation td {
  font-size: 16pt;
  width: 20%;
}

.title-prev {
  text-align: left;
}
td.title {
  text-align: center;
  font-size: 20pt;
}
td.title a i.glyphicon {
  visibility: collapse;
}
td.title a:hover i.glyphicon {
  visibility: visible;;
}

.title-next {
  text-align: right;
}

h1.page-title {
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 14pt;
}
