<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | {{ .Title }}</title>
    <link rel="shortcut icon" href="/css/favicon.ico">
    <script src="/js/UnityProgress.js"></script>
    {{ partial "head.html" . }}
    <script src="/js/pace.min.js"></script>
    <link rel="stylesheet" href="/css/pace.css">
  </head>
  <body class="template">
    {{ partial "header.html" . }}

    <table class="title-navigation">
      <tr>
        <td class="title-prev">
          {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.RelPermalink }}">
              <i class="glyphicon glyphicon-backward"></i>
              {{ .PrevInSection.LinkTitle }}
            </a>
          {{ else }} {{ end }}
        </td>
        <td class="title">
          <a href="{{ .Permalink }}">{{ .Title }} <sup><i class="glyphicon glyphicon-link"></i></sup></a>
        </td>
        <td class="title-next">
          {{ if .NextInSection }}
          <a href="{{ .NextInSection.RelPermalink }}">
            {{ .NextInSection.LinkTitle }}
            <i class="glyphicon glyphicon-forward"></i>
          </a>
          {{ else }} {{ end }}
        </td>
      </tr>
    </table>

    <p class="header"><span>Unity WebGL Player | </span></p>
    <div class="full-width-wrapper">
      <div class="template-wrap clear" style="width: 960px;">
        <div id="loader-thing">
          {{ .Params.quote }}
        </div>
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
        <br>
        <div class="logo"></div>
        <div class="fullscreen"><img src="/css/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
        <div class="title">{{ .Title }}</div>
      </div>
    </div>
    <hr>


    <div class="fancy-description">
      {{ .Content }}
    </div>

{{ partial "footer.html" . }}

<script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 268435456,
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "Release/{{ .Params.gamefile }}.data",
    codeUrl: "Release/{{ .Params.gamefile }}.js",
    memUrl: "Release/{{ .Params.gamefile }}.mem",
  };
</script>
<script src="Release/UnityLoader.js"></script>

  </body>
</html>
